@import "bootstrap";

// 基本設定
html {
  font-size: 15px;
}
body{
  background-color: #F0F4C3;
}
ul{
  list-style: none;
}

// home/index
.app-title{
  background-color: #FDD835;
}
.home-main{
  color: #40C4FF;
  margin-top: 30px;
  text-align: center;
}
.flex-item{
  display: flex;
  flex-direction: row;
  padding: 2.5% 0;
}
.rectangle-1{
  position: absolute;
  width: 427px;
  height: 506px;
  background: #C4C4C4;
}
.rectangle-2{
  position: absolute;
  width: 427px;
  height: 506px;
  background: #C4C4C4;
}
.image-1{
  background-image: url('muscle_task_left.jpg');
  width: 427px;
  height: 225px;
  background-position: center;
  background-size: contain;
}
.image-2{
  background-image: url('muscle_task_right.jpg');
  width: 427px;
  height: 225px;
  background-position: center;
  background-size: contain;
}
.message{
  margin: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}
.btn-set{
  margin-right: 10px;
  text-align: right;
  margin-top: 20px;
}
.btn-xl{
  font-size: .85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
}

// post/index
.post-ul{
  width: 60%;
  margin: auto;
}
.post-style{
  margin-top: 10%;
  background-color: white;
}
.post-lists{
  border: solid 1.5px #DADADA;
  border-bottom: 0;
  margin: 0;
}
.border-bottom{
  border-bottom: solid 1.5px #DADADA;
}
.post-page{
  margin-bottom: 10%;
}

// post/show
.post-content{
  height: 100px;
}

